# Server Configuration
PORT=3000
HOSTNAME="127.0.0.1"
SESSION_SECRET="Sugar" # Used in creating session cookies

# Database Configuration
DB_NAME=mysql
DB_USERNAME=admin
DB_PASSWORD=password
DB_HOSTNAME=localhost

# Initial Account
ADMIN_USERNAME=admin
ADMIN_PASSWORD=password