---
import LoginForm from "../../components/LoginForm.svelte";
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Login">
  <main class="w-full h-screen flex items-center">
    <LoginForm client:load 
      errorMessage="Invalid Username / Password"
      componentTitle="Login"
      buttonTitle="Submit"/>
  </main>
</BaseLayout>